<!DOCTYPE html>
<html>
  <head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	  <meta name="viewport" content="width=device-width" />
	  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" href="/css/style.css">
	  <link rel="stylesheet" href="/css/backoffice.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.8/build/mediaelementplayer.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	  <title>Backoffice</title>
  </head>
	<body>
		<div class="container-fluid text-center">
			<%- include header.ejs %>
			<div class="row">
			    <div class="col-sm-4">
			        <div class="statCounter">
			            <div class="title">En moyenne un utilisateur écoute</div>
			            <div class="value"><%= moyenneEcoute %></div>
			            <div class="title">podcasts</div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="statCounter">
			            <div class="title">Taux de lecture moyen</div>
			            <div class="value"><%= moyenneLecture %></div>
			            <div class="title">des podcasts</div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="statCounter">
			            <div class="title">Taux d'utilisateurs mobile</div>
			            <div class="value"><%= moyenneDevice %></div>
			            <div class="title"></div>
			        </div>
			    </div>
			</div>
			<br />
			<div class="row">
			    <div class="col-sm-12">
					<table class="table no-border hover">
						<thead>
							<tr>
								<th><strong>Nom du podcast</strong></th>
								<th><strong>Vues</strong></th>
								<th><strong>Taux de lecture</strong></th>
							</tr>
						</thead>
						<tbody>
							<% counts.forEach((elem) => { %>
								<tr>
									<td><%= elem._id %></td>
									<td><%= elem.count %></td>
									<td><%= elem.percentage %>%</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Scripts JS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>
			$(document).ready(() => {
				// $('.percentage').each((index) => {
				// 	console.log($(this));
				// 	$(this).html(toPercentage(10 * 100))
				// });
			});
		</script>
	</body>
</html>
