<!DOCTYPE html>
<html>
  <head>
	  <meta name="viewport" content="width=device-width" />
	  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.8/build/mediaelementplayer.min.css">
	  <link rel="stylesheet" href="/css/style.css">
	  <meta name="description" content="La Bulle, le nouveau programme audio d’Hello Marcel qui permet aux parents en quelques minutes par jour de se poser et réfléchir sur des questions de parentalité du quotidien." />
	  <meta name="keywords" content="hello marcel, concentration, autonomie, la bulle, parentalité, audio, podcast, famille, enfant, conseil, programme, media, coach" />
	  <title>La Bulle</title>
  </head>
	<body>
		<% if (typeof user == 'undefined') { %>
		<div style="z-index: 90000000000;" class="modal fade" id="modalAuth" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Se connecter / S'inscrire :</h4>
					</div>
					<div class="modal-body text-center" style="padding-top: 40px;">
						<a onclick="toggleForm();" href="#" class="formSwapLink">Créer mon compte</a>
						<a onclick="toggleForm();" href="#" class="formSwapLink activeLink">Me connecter</a>
						<br />
						<br />
						<form class="formSwapForm" action="/auth" method="post">
							<input required autocomplete="email" placeholder="Adresse email" type="email" name="mail"><br />
							<input required autocomplete="off" placeholder="Mot de passe" type="password" name="password"><br />
	  						<input type="submit" value="Connexion" name="button" /> <br />
							<a data-toggle="modal" data-dismiss="modal" data-target="#modalPassword" href="#">J'ai oublié mon mot de passe.</a>
						</form>
						<form class="formSwapForm" hidden action="/auth" method="post">
							<input required autocomplete="email" placeholder="Adresse email" type="email" name="mail"><br />
							<input required autocomplete="off" placeholder="Mot de passe" type="password" name="password"><br />
							<input required autocomplete="off" placeholder="Confirmer" type="password" name="repassword"><br />
	  						<input type="submit" value="Inscription" name="button" /><br />
						</form>
					</div>
					<div class="modal-footer"><p class="text-center">Pour pouvoir écouter les programmes audio de La Bulle, merci de vous connecter ou vous inscrire ci-dessus</p></div>
				</div>
			</div>
		</div>
		<div style="z-index: 90000000000;" class="modal fade" id="modalPassword" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Récuperation de mot de passe :</h4>
					</div>
					<div class="modal-body">
						<p hidden class="alert alert-danger" id="resPwdReset"></p>
						<input type="email" required name="mail" class="form-control" id="inputMailPassword" placeholder="Votre mail"/>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="getPassword();" class="btn btn-default">Je récupère mon mot de passe.</button>
					</div>
				</div>
			</div>
		</div>
		<% } else if (typeof user !== 'undefined') { %>
		<div style="z-index: 90000000000;" class="modal fade" id="modalAccount" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Gérer son compte</h4>
					</div>
					<div class="modal-body">
						<form action="/edit/mail" id="formEdit" method="post">
							<input required type="email" name="mail" class="form-control" value="<%= user.mail  %>" placeholder="Votre mail"/>
							<br />
							<div class="text-center">
								<button type="submit" form="formEdit" value="Je change mon adresse mail" class="text-center btn btn-default">Je change mon adresse mail</button>
							</div>
						</form>
						<br />
						<br />
						<form action="/edit/password" id="formPassword" method="post">
							<input required autocomplete="off" type="password" name="oldPassword" class="form-control" placeholder="Ancien mot de passe"/>
							<br />
							<input required autocomplete="off" type="password" name="password" class="form-control" placeholder="Nouveau mot de passe"/>
							<br />
							<div class="text-center">
								<button type="submit" form="formPassword" value="Je change mon mot de passe" class="btn btn-default">Je change mon mot de passe</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<p class="text-center">Changer vos informations vous déconnectera.</p>
					</div>
				</div>
			</div>
		</div>
		<% } %>
		<div class="container-fluid">
			<div style="background-color: #51E99D;" class="row">
				<div class="col-sm-6"><img style="width: 250px; padding-top: 5px;" src="/images/hellomarcel-logo.png" /></div> <!-- TITRE HELLO MARCEL -->
				<% if (typeof user !== 'undefined') { %>
					<div class="col-sm-6"><span class="user-interface"><%= user.mail %><br /><a href="/logout">Se déconnecter</a> &nbsp; &nbsp; <a data-toggle="modal" data-target="#modalAccount" href="#">Mon compte</a><% if (user.admin == true) { %>&nbsp; &nbsp; <a href="/backoffice">Backoffice</a> <% } %></span></div> <!-- INTERFACE USER TODO -->
				<% } %>
			</div> <!-- HEADER -->

			<% if (typeof msg !== 'undefined') { %>
				<div class="alert alert-danger fade in">
	  				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<% msg.forEach((message) => { %>
						<strong>Attention : </strong><%= message %><br>
					<% }); %>
				</div>
			<% } %>
			<% if (typeof msgOk !== 'undefined') { %>
				<div class="alert alert-success fade in">
	  				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<% msgOk.forEach((message) => { %>
						<%= message %><br>
					<% }); %>
				</div>
			<% } %>

			<div style="font-family: avenirl; background-color: #2d2d2d; color: white; padding: 20px 0px 20px 0px;" class="row">
				<div class="<% if (typeof user !== 'undefined') { %>col-xs-12<% } else { %>col-md-8<% } %>">
					<div class="row">
						<div style="position: absolute; height: 100%; width: 20%;" class="visible-md visible-xl visible-lg"><img style="position: absolute; bottom: -20px;" class="hm-logo" src="../images/hm-logo.jpg" /></div> <!-- LOGO -->
						<div class="col-md-9 greenborder firstBulle">
							<div class="visible-xs visible-sm" style="margin: auto;width: 100px"><img class="hm-logo" src="../images/hm-logo.jpg" /></div>
							<div class="white"><p><h1 style="font-size: 18px;"><b style="font-family: brandon;">BIENVENUE DANS LA BULLE HELLO MARCEL, LE COACH AUDIO EN PARENTALITE</b></h1><br />Parce que quand on est parents, on a plein de questions et peu de temps pour y répondre, nous avons imaginé La Bulle Hello Marcel : des programmes audio courts qui s’adressent à tous les parents et traiteront de thèmes variés (autonomie, développement de la créativité, sommeil, concentration et canalisation de l’énergie ou encore relations dans la fratrie…).<br /><br />En quelques minutes, chaque écoute vous apporte un décryptage et des clés essentielles pour faire votre propre chemin avec vos enfants, sur le thème choisi.<br />Bonne écoute !</p></div>
							<div class="text-center row">
								<span class="presentation" onclick="songClicked(`presentation.mp3`);"><i class="fa fa-play-circle" style="color: #51E99D; font-size: 40px;" aria-hidden="true"></i><span style="position: relative; bottom: 10px; left: 5px;">Intro à La Bulle</span>&nbsp;</span>
							</div>
						</div> <!-- TEXT / AUDIO -->
					</div>
				</div> <!-- INFOS -->
				<% if (typeof user == 'undefined') { %>
					<div style="margin-top: 25px;" class="text-center col-md-4">
						<div class="row">
							<div class="col-xs-12">
								<a onclick="toggleForm();" href="#" class="formSwapLink">Créer mon compte</a>
								<a onclick="toggleForm();" href="#" class="formSwapLink activeLink">Me connecter</a>
							</div>
							<br />
							<br />
						</div>
						<div class="row">
							<div class="col-xs-12">
								<form class="formSwapForm" action="/auth" method="post">
									<input required autocomplete="email" placeholder="Adresse email" type="email" name="mail"><br />
									<input required autocomplete="off" placeholder="Mot de passe" type="password" name="password"><br />
			  						<input type="submit" value="Connexion" name="button" /> <br />
			  						<a data-toggle="modal" data-target="#modalPassword" href="#">J'ai oublié mon mot de passe.</a>
								</form>
								<form class="formSwapForm" hidden action="/auth" method="post">
									<input required autocomplete="email" placeholder="Adresse email" type="email" name="mail"><br />
									<input required autocomplete="off" placeholder="Mot de passe" type="password" name="password"><br />
									<input required autocomplete="off" placeholder="Confirmer" type="password" name="repassword"><br />
			  						<input type="submit" value="Inscription" name="button" /><br />
								</form>
							</div>
						</div>
					</div> <!-- FORMULAIRE -->
				<% } %>
			</div> <!-- INFOS / FORMULAIRE -->
			<div class="row categoryBody">
				<% categories.forEach((categorie, index) => { %>
					<div class="<%= index % 2 == 0 ? 'col-md-offset-1' : '' %> col-md-5 col-xs-12 getHeight" style="padding-bottom: 30px;">
						<div class="category">
							<div class="row"><div class="col-xs-12"><h3 style="font-family: brandon; "><%= categorie.name %></h3></div></div> <!-- TITRE -->
							<div class="categoryDesc row">
								<div class="col-xs-12" style="font-family: avenirl;"><img style="margin: -3px 10px 0px 0px;float: left; max-width: 150px;" class="list-img" src="../images/<%= categorie.image %>" /><p><%= categorie.description %></p></div>
							</div> <!-- IMAGE / DESCRIPTION -->
							<br />
							<% categorie.songs.forEach((song) => { %>
								<% if (typeof user !== 'undefined') { %>
									<% var timeRead = user.timeRead.find((elem) => { return elem.name == song.fileName }); %>
									<% var liked = user.likes.findIndex((elem) => { return elem.name == song.fileName.replace(/\s/g,'').split('.')[0] }); %>
								<% } %>
								<div class="row">
									<div onclick="songClicked(`<%= song.fileName %>`);" class="song col-xs-1"><i class="fa <% if (typeof user !== 'undefined') { %>fa-play-circle<% } else { %>fa-lock<% } %>" aria-hidden="true"></i></div>
									<div onclick="songClicked(`<%= song.fileName %>`);" class="song <%= typeof user !== 'undefined' ? 'col-xs-9' : 'col-xs-11' %>"><p class="text-center"><%= song.name %> - <%- toMinutes(song.duration) %>
										<div class="whiteloadingbar"><% if (typeof timeRead !== 'undefined') { %><div class="greenloadingbar" id="loadingbar<%= timeRead %>" style="width: <%= (timeRead.time / timeRead.duration) * 100 %>%;"></div><% } %></div></p>
									</div>
									<% if (typeof user !== 'undefined') { %>
										<div class="col-xs-1 song"><i onclick="favorite(`<%= song.fileName %>`)" class="fa fa-heart heartsong <%- song.fileName.replace(/\s/g,'').split('.')[0]; %> <%= liked > -1 ? 'mejs_liked' : 'mejs_like' %>" aria-hidden="true"></i></div>
										<div class="col-xs-1 text-center song"><a target="_blank" title="Version texte" href="../pdfs/<%= song.pdfName %>"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></div>
									<% } %>
								</div>
							<% }); %>
						</div>
					</div><!-- UNE LISTE -->
					<div class="<% index % 2 == 1 ? 'col-md-1' : '' %>"></div>
				<% }); %>
			</div> <!-- LISTES -->
			<div style="background-color: #666666; color: white; padding: 20px 0 50px 0;" class="row">
				<div class="col-xs-offset-2 col-xs-8">
					<div style="padding: 10px 2px 10px 2px;" class="greenborder row">
						<div class="col-xs-12">
							<p>Pour faire progresser la Bulle, nous avons besoins de vos retours sur ces premiers épisodes, merci de nous accorder 5 min pour remplir ce rapide questionnaire !
								<br />A très vite ;)<br/><span style="float: right;">L’équipe Hello Marcel</span>
							</p>
							<br />
							<a target="_blank" class="button avis" href="https://www.google.fr/intl/fr/forms/about/">JE DONNE MON AVIS !</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding-bottom: 50px;">
				<div class="col-xs-12 text-center"><a href="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/pdfs/cgu.pdf">CGU</a></div>
			</div>
			<div class="row">
				<div id="playerContainer" class="col-xs-12"></div> <!-- AUDIO PLAYER -->
			</div> <!-- FOOTER AUDIO -->

		</div>
		<!-- Scripts JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.8/build/mediaelement-and-player.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/javascript/jquery.cookie.js"></script>
		<script>
			let user = <% if (typeof user !== 'undefined') { %><%- JSON.stringify(user) %><% } else { %>null<% } %>;
			let categories = <%- JSON.stringify(categories) %>
			let time = null;
			let vol = 0.2;
			if ($.cookie('volume')) {
				vol = parseFloat($.cookie('volume'));
			}
			let categoryHeight = 0;
			jQuery(document).ready(function ($) {
				let song = (user ? (user.lastRead ? user.lastRead : null) : null);
				if (song)
					makeSong(song, false);

				$('.categoryDesc').height(getMaxHeight('.categoryDesc'));
			});

			$(window).bind('beforeunload',function(){
				if (time != null)
					sendTimeToServer();
				else {
					console.log("time null : ", time);
				}
			});

			const sendTimeToServer = () => {
				$.post('/updateTime', time, (data) => {
					console.log("ok");
				});
			};

			const getPassword = () => {
				let mail = $('#inputMailPassword').val();
				if (mail && validateEmail(mail)) {
					$.post('/repassword', { mail }, (data) => {
						if (data.error) {
							$('#resPwdReset').text(data.error);
							$('#resPwdReset').show();
						} else {
							$('#resPwdReset').hide();
							$('#modalPassword').modal('toggle');
						}
					});
				} else {
					$('#resPwdReset').text("Veuillez entrer une adress mail valide.");
					$('#resPwdReset').show();
				}
			};

			const validateEmail = (email) => {
				const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			}

			const makeSong = (songName, autoPlay) => {
				let image = "../images/hm-logo.jpg";
				let categoryName = "";
				let songMp3 = "présentation";
				categories.forEach((categorie) => {
					let i = categorie.songs.findIndex((el) => {
						return el.fileName == songName;
					});
					if (i > -1) {
						categoryName = categorie.name;
						songMp3 = categories.find((el) => { return el.name == categoryName }).songs[i].name;
					}
				});
				$("#playerContainer").html(`<div style="width: 100%;"><audio id='player' style="width: 100%;" src='../audios/${songName}' preload='auto' type='audio/mpeg' height='50'></audio></div>`);
				$('#player').mediaelementplayer({
					success: function (mediaElement) {
						mediaElement.addEventListener('loadedmetadata', function(){
							let songCurrentTime;
							if (user) {
								$('.mejs__controls').append(`<div onclick="favorite('${user.likes.findIndex((elem) => { return elem.name == songName }) > -1 ? songName : songName}');" class="${songName.replace(/\s/g,'').split('.')[0]} mejs__button ${user.likes.findIndex((elem) => { return elem.name == songName.replace(/\s/g,'').split('.')[0]; }) > -1 ? 'mejs_liked' : 'mejs_like'}"><i class="fa fa-heart fa-heart-spe" aria-hidden="true"></i></div>`);
								songCurrentTime = user.timeRead.find((elem) => { return elem.name == songName });
							}
							$('.mejs__container').prepend(`<div style="position: absolute; width: 20%; z-index: 7000;height: 20px; background-color: black; left: 0;"></div><div class="titleSong mejs__button"><span class="textSong">${categoryName} ${categoryName.length >= 1 ? '-' : ''} ${songMp3}</span></div><div style="position: absolute; width: 20%; z-index: 7000;height: 20px; background-color: black; top: 0;right: 0;"></div>`);
							$('.mejs__controls').prepend(`<div style="padding-top: 8px; padding-right: 5px;" class="mejs__button"><img width="34" src="${image}"/></div>`);
							if (songCurrentTime) mediaElement.setCurrentTime(songCurrentTime.time >= mediaElement.duration ? 0 : songCurrentTime.time);
							else mediaElement.setCurrentTime(0);
							if (autoPlay) {
								mediaElement.play();
								let savedWidth=$('.textSong').width();
								function repeat() {
									$(".titleSong").css({"left": $('.mejs__mediaelement').width() - savedWidth}).show();
									$(".titleSong").animate({left: 0},15000);
									$('.titleSong').delay(0).fadeOut(0,repeat);
								}
								repeat();
							}
						});
						mediaElement.addEventListener('timeupdate', function() {
							mediaElement.setVolume(vol);
							if (mediaElement.currentTime > 1 && user) {
								let index = user.timeRead.findIndex((elem) => { return elem.name == songName });
								if (index > -1) user.timeRead[index].time = mediaElement.currentTime;
								time = { name: songName, time: mediaElement.currentTime, duration: mediaElement.duration };
							}
				        });
						mediaElement.addEventListener('volumechange', function() {
							$.cookie('volume', mediaElement.getVolume(), { expires: 31 });
							vol = mediaElement.getVolume() == 0.8 ? vol : mediaElement.getVolume();
				        });
					 }
				});
			};

			const favorite = (songName) => {
				$.post('/favorite/song', { songName: songName.replace(/\s/g,'').split('.')[0] }, (datas) => {
					if (datas.error) {
						console.log(datas);
					} else {
						$(`.${songName.replace(/\s/g,'').split('.')[0]}`).toggleClass("mejs_like");
						$(`.${songName.replace(/\s/g,'').split('.')[0]}`).toggleClass("mejs_liked");
						user = datas;
					}
				});
			};

			const sendLastSongReaded = (songId) => {
				$.post('/lastread/song', { id: songId }, (datas) => {
					console.log(datas);
				});
			};

			const songClicked = (songName) => {
				if (songName.indexOf("presentation") > -1) {
					makeSong(songName, true);
				} else if (!user) {
					$("#modalAuth").modal('toggle');
				} else {
					let song = null;
					categories.forEach((categorie) => {
						let s = categorie.songs.find((el) => {
							return el.fileName == songName;
						});
						if (s) song = s;
					});
					if (song != null) {
						if (song.last == true) { sendLastSongReaded(song._id); }
					}
					if (time != null)
						sendTimeToServer();
					makeSong(songName, true);
				}
			};

			const toggleForm = () => {
				$('.formSwapLink').toggleClass("activeLink");
				$('.formSwapForm').toggle(0);
			};

			$('a[href="#"]').click((ev) => {
				ev.preventDefault();
			});

			const getMaxHeight = (name) => {
				let height = 0;
				$(name).each(function () {
					height = $(this).height() > height ? $(this).height() : height;
				});
				return height;
			};

		</script>
	</body>
</html>

<!-- Créé par Jérémy Misiti -->
